@import url("/src/app/styles/variables.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter";
  color: var(--light-font);
  font-weight: 800;
}

input,
p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
label,
button {
  font-family: inherit;
  color: inherit;
  font-weight: inherit;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  outline: none;
}
