:root {
  /* Header */
  --header-background: #114FAB;
  --header-height: 72px;
  --drawer-menu-bg: #114FAB;
  
  --auth-background: #6A94E5;
  --form-background: #6E80C3;
  --input-w-small: "100px";

  /* Button */
  --button-filled-color: #114FAB;
  --button-disabled-color: grey;

  /* Font colors */
  --light-font: #FFFFFF;
  --dark-font: #000000;
  --error-font: #e6525a;
  --grey-font: rgb(138 138 138);
  --dark-grey-font: rgb(67, 67, 67);


  /* Tooltip variants */
  --tooltip-success: green;
  --tooltip-warning: orange;
  --tooltip-error: red;
  --tooltip-default: #000;
}