/* Header */
$header-background: #114fab;
$header-height: 72px;
$drawer-menu-bg: #114fab;

$auth-background: #6a94e5;
$form-background: #6e80c3;
$input-w-small: "100px";

/* Button */
$button-filled-color: #114fab;
$button-disabled-color: grey;

/* Font colors */
$light-font: #ffffff;
$dark-font: #000000;
$error-font: #e6525a;
$grey-font: rgb(138 138 138);
$dark-grey-font: rgb(67, 67, 67);

/* Tooltip variants */
$tooltip-success: green;
$tooltip-warning: orange;
$tooltip-error: red;
$tooltip-default: #000;
