@import url("/src/app/styles/variables.css");

/* colors */
.error {
  color: var(--error-font);
}

.light {
  color: var(--light-font);
}

.dark {
  color: var(--dark-font);
}

/* font size */
.s16 {
  font-size: 16px;
}

.s20 {
  font-size: 20px;
}

.s36 {
  font-size: 36px;
}

.s40 {
  font-size: 40px;
}