@import "/src/app/styles/variables.css";

.header {
  background-color: var(--header-background);
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 26px;
}

.links {
  display: flex;
}

.links a + a {
  margin-left: 86px;
}