@import "/src/app/styles/variables.css";

.header {
  background: var(--header-background);
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 26px;
  height: var(--header-height);
}

.nav {
  display: flex;
}

.nav * + * {
  margin-left: 86px;
}

.menu {
  display: flex;
}

.burger_menu {
  display: none;
}

@media screen and (max-width: 630px) {
  .header {
    position: fixed;
    width: 100%;
  }
  .nav {
    display: none;
  }

  .burger_menu {
    display: flex;
  }

  .wrapper {
    flex-direction: row-reverse;
  }
}