.tooltipContainer {
  display: flex;
  position: relative;
}

.tooltip {
  display: block;
  position: absolute;
  padding: 10px;
  color: #fff;
  font-size: 14px;
  background-color: #000;
  border-radius: 4px;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  transition: opacity .4s ease-out ;
}

.active {
  opacity: 1;
  pointer-events: all;
}

/* Position */
.top {
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
}

.right {
  top: 50%;
  left: 125%;
  transform: translateY(-50%);
}

.bottom {
  top: 125%;
  left: 50%;
  transform: translateX(-50%);
}

.left {
  top: 50%;
  right: 125%;
  transform: translateY(-50%);
}

/* Size */
.small {
  font-size: 12px;
  border-radius: 2px;
}

.medium {
  font-size: 14px;
  border-radius: 4px;
}

.large {
  font-size: 16px;
  border-radius: 6px;
}

/* Color */
.default {
  background-color: #000;
  color: #fff;
}

.error {
  background-color: red;
  color: white;
}

.success {
  background-color: green;
  color: white;
}

.warning {
  background-color: orange;
  color: white;
}
