@import url('/src/app/styles/variables.css');

.input {
  display: flex;
  font-size: 20px;
  outline: 2px solid black;
  background-color: white;
  color: var(--dark-font);
  padding: 10px 10px;
  border: 0;
  border-radius: 10px;
  width: 200px;
}

.inputGroup {
  width: 200px;
  display: flex;
}

.inputGroup .input {
  width: 100%;
  padding: 0;
  outline: none;
}

.inputRight {
  display: flex;
  align-items: center;
  padding-left: 8px;
}

.inputLeft {
  display: flex;
  align-items: center;
  padding-right: 8px;
}


.fullwidth {
  width: 100%;
}