.layout {
  display: flex;
  flex-direction: column;
  background: url('/src/app/assets/common-bg.png') no-repeat;
  background-size: cover;
  min-height: 100vh;
  height: 100%;
}

.main {
  flex-grow: 1;
  display: flex;
}