@import url("/src/app/styles/variables.css");

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  margin: 10px 0;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 24px 39px 0px 39px;
}

.form_wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  border: 3px solid #000;
  max-width: 465px;
  width: 100%;
  margin-bottom: 10px;
  background-color: var(--form-background);
}

.form_img {
  object-fit: cover;
  border-radius: 15px 15px 0 0;
  width: 100%;
}

.footer {
  color: var(--dark-font);
}

@media screen and (max-width: 470px) {
  .form_wrapper {
    border: 0;
    border-radius: 0;
  }

  .form_img {
    border-radius: 0;
  }
}
