.regForm {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.fields {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.fields label {
  margin: 8px 0;
}

.help_text {
  margin-top: 17px;
  text-align: center;
  font-size: 16px;
  text-decoration-line: underline;
}

.submit {
  align-self: center;
  margin-top: 43px;
  margin-bottom: 10px;
}

.error {
  text-align: center;  
}