@import "/src/app/styles/variables";

.login_container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $auth-background;
  min-height: 100%;
  padding: 0;
  flex-grow: 1;
}
