.drawer {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease-in-out;
}

.drawer_content {
  min-width: 100px;
  background-color: white;
  transform: translateX(-100%);
  transition: all 0.4s;
  z-index: 21;
}

.active {
  opacity: 1;
  pointer-events: all;
}

.active .drawer_content {
  transform: translateX(0);
}
