@import url("/src/app/styles/variables.css");

.input {
  display: flex;
  outline: 2px solid black;
  background-color: white;
  color: var(--dark-grey-font);
  border: 0;
  width: 200px;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 10px;
}

.input_focus {
  outline: 2px solid rgb(39, 0, 215, 0.5);
  box-shadow: inset 0px 0px 3px rgb(39, 0, 215, 0.5);
  background-color: #e6e4fc;
}

.input_hover {
  outline: 2px solid rgb(39, 0, 215, 0.5);
  box-shadow: inset 0px 0px 3px rgb(39, 0, 215, 0.5);
}

.fullwidth {
  width: 100%;
}

/* Height */
.small {
  font-size: 15px;
  padding: 7px 7px;
}

.medium {
  font-size: 20px;
  padding: 10px 10px;
}

.big {
  font-size: 25px;
  padding: 13px 13px;
}
