@import url("/src/app/styles/variables.css");

.button {
  padding: 10px 8px;
  text-align: center;
  font-size: 20px;
  background-color: var(--button-filled-color);
  border-radius: 10px;
  border: 1px solid #000;
  width: fit-content;
  cursor: pointer;
}
